.board-column {
  flex: 1;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
  color: black;
}

.empty {
  font-size: 16px;
  color: #888;
}