.app-container{
    border-bottom-left-radius: 10px;
}

.cabecera{
    background-color: #f0f2f5;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}